syntax: glob
# Don’t commit the following directories created by pub.
.dart_tool/
build/
.packages
.buildlog
.pub/
.idea/
.atom/
tmp/
packages
data/out

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock

# Build by tests
test/out
test_out

# Local files
.local/

# temp
sembast_idb/
sembast_test/